@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,800;1,100;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f8;
}

.sidebar {
  background-color: #363740;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.logo h3 {
  font-size: large;
  color: #797a84;
  padding-left: 5px;
  font-weight: 400;
}

.list {
  font-weight: 200;
  height: 100%;
  padding-top: 30px;
  cursor: pointer;
}

.list li {
  position: relative;
  list-style: none;
}

.list li i {
  font-size: larger;
  height: 45px;
  min-width: 60px;
  text-align: center;
  line-height: 50px;
  color: #9d9fab;
}
.list p {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.select {
  background-color: #fffdfd26;
  border-left: 2px solid;
}

hr {
  margin: 20px 0px;
  border-color: rgb(105, 105, 105);
}

.container-item {
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
  height: 120%;
}

.TopNav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.TopNav-side {
  display: flex;
  align-items: center;
}
.TopNav-side p {
  margin-right: 10px;
}

.TopNav-item-1 {
  display: flex;
  align-items: center;
  padding-right: 25px;
  border-right: 3px solid black;
  cursor: pointer;
}

.TopNav-item-1 i:hover {
  color: #3751ff;
}

.TopNav-item-2 {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.TopNav-item-2 img {
  margin: 10px;
  border: 2px solid rgba(51, 38, 38, 0.249);
  border-radius: 100%;
}
.TopNav-item-2 img:hover {
  border-color: #3751ff;
}
.TopNav-item-2 {
  cursor: pointer;
}

h2 {
  font-weight: 500;
}

i {
  font-size: x-large;
}

.grid-list {
  margin-top: 30px;
  padding: 0px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 20px 50px;
  grid-auto-columns: 20%;
}

.my-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(48, 46, 46, 0.259);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
.my-grid h4 {
  font-size: 200%;
  font-weight: 400;
  padding-top: 4px;
}
.my-grid p {
  padding-bottom: 10px;
}

.my-grid:hover {
  cursor: pointer;
  color: #3751ff;
  border-color: #3751ff;
}

.chart-area {
  margin: 30px;
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(194, 188, 188, 0.642);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.chart1 {
  margin: 10px;
  width: 80%;
}

.chart-list {
  display: flex;
  flex-direction: column;
}

.chart-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 120px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(194, 188, 188, 0.642);
  border-left: 1px solid rgba(194, 188, 188, 0.642);
}

.chart-grid h4 {
  font-size: x-large;
  font-weight: 500;
}

.chart-grid p {
  font-size: large;
}

.chart-grid:hover {
  cursor: pointer;
  border: 1px solid #3751ff;
  color: #3751ff;
}

.tickets-area {
  background-color: white;
  width: 40%;
  border-radius: 15px;
  padding: 50px;
  margin: 30px;
  border: 1px solid rgba(194, 188, 188, 0.642);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
.tickets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.tickets a {
  color: #3751ff;
  cursor: pointer;
}

.tickets-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(194, 188, 188, 0.642);
}

.tickets-list h3 {
  font-size: medium;
  font-weight: 400;
}

.tickets-list p {
  color: rgb(160, 151, 151);
}
